/msas
/trees
/Afrosoricida
/Artiodactyla
/Carnivora
/Chiroptera
/Cingulata
/Dasyuromorphia
/Didelphimorphia
/Diprotodontia
/Eulipotyphla
/Lagomorpha
/Macroscelidea
/Peramelemorphia
/Perissodactyla
/Pholidota
/Pilosa
/Primates
/Rodentia
/Scandentia